body::-webkit-scrollbar{
  display: none;
}
.scroll-watcher{
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: yellow;
  width: 100%;
  scale: 0 1 ;
  animation: scroll-watcher linear;
  transform-origin: left;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  to {scale: 1 1;}
}
